<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>豆瓣Top250数据可视化</title>
	<link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="static/https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/templatemo-xtra-blog.css" rel="stylesheet">
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <div class="tm-site-header">
                <h1 class="text-center">豆瓣Top250数据可视化</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="/index" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        首页
                    </a></li>
                    <li class="tm-nav-item"><a href="/movie" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        电影列表
                    </a></li>
                    <li class="tm-nav-item"><a href="/rating" class="tm-nav-link">
                        <i class="fas fa-comments"></i>
                        评分
                    </a></li>
                    <li class="tm-nav-item"><a href="/wordcloud" class="tm-nav-link">
                        <i class="fa fa-layer-group"></i>
                        词云
                    </a></li>
                    <li class="tm-nav-item active"><a href="/group" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        团队
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">

<div class="row tm-row tm-mb-60">
    <div class="col-12">
        <hr class="tm-hr-primary  tm-mb-55">
    </div>
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="http://tva1.sinaimg.cn/large/005TIlQogy1h2yy7uxqs2j30u00u0wgn.jpg" alt="Image" class="img-fluid mr-4">
            <div class="media-body">
                <a href="https://xuanyuangoudan.cyou/" target="_blank>">
                    <h2 class="tm-color-primary tm-post-title mb-2">Rabishop</h2>
                </a>
                <h3 class="tm-h3 mb-3">A nerd</h3>
                <p class="mb-0 tm-line-height-short">
                    终于搞完了.
                </p>
            </nav>
            </div>
        </div>
    </div>
</div>
</main></div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/templatemo-script.js"></script>
</body>
</html>